.draw-activity{
    background: url("../images/activity/draw-page-bg.jpg") no-repeat;
    background-size: cover;
    min-height: 100%;
    .page-content{
        width: 870px;
        margin: 0px auto;
        padding-top: 40px;
        .title-icon{
            background: url("../images/activity/draw-title-icon.png") no-repeat;
            width: 440px;
            height: 120px;
            background-size: 100% 100%;
        }
        .main-content{
            display: flex;
            .info-panel{
                padding-top: 30px;
                .close-btn{
                    display: none;
                }
                .block{
                 background: url("../images/activity/info-block-bg.png") no-repeat;
                 width: 402px;
                 height: 199px;
                 background-size: 100%;
                 .block-hd{
                     font-size: 22px;
                     color: #6f00b6;
                     font-family: 'hytangmeiren';
                     text-align: center;
                     line-height: 25px;
                 }
                 .block-bd{
                     width: 92%;
                     margin: 6px auto 0px auto;
                     height: 79%;
                     overflow: auto;
                     font-size: 14px;
                     color: #fff;
                 }
               &+.block{
                   margin-top: 20px;
               }
             }
                .record-list{
                    width: 100%;
                    font-size: 14px;
                    td{
                        text-align: center;
                        padding: 6px 5px;
                    }
                    .time{
                        width: 40%;
                    }
                    .cost{
                        width: 20%;
                    }
                    .result{
                        width: 40%;
                    }
                    thead{
                        td{
                            color: #fbda74;
                            border-bottom: 1px solid #932df2;
                        }
                    }
                    tbody{
                        td{
                            color: #fff;
                        }
                    }
                }
                .mask{
                    display: none;
                }
            }
            .draw-panel{
                margin-top: -40px;
                margin-left: auto;
                .draw-table{
                    position: relative;
                    z-index: 1;
                    background: url("../images/activity/draw-table-bg.png") no-repeat;
                    width: 402px;
                    height: 396px;
                    background-size: 100%;
                    .disc{
                        position: absolute;
                        top: 17px;
                        left: 23px;
                        background: url("../images/activity/draw-table.png") no-repeat;
                        width: 354px;
                        height: 354px;
                  /*      transition: all 12s;*/
                        .line{
                            display: none;
                            position: absolute;
                            z-index: 100;
                            top:0px;
                            right: 0px;
                            left:0px;
                            bottom: 0px;
                            width: 1px;
                            height: 100%;
                            background: red;
                            margin: auto;
                            transform:rotate(22.5deg);
                        }
                        .line-2{
                            transform:rotate(67.5deg);
                        }
                        .line-3{
                            transform:rotate(112.5deg);
                        }
                        .line-4{
                            transform:rotate(157.5deg);
                        }
                        .point{
                            display: none;
                            position: absolute;
                            z-index: 1000;
                            top:0px;
                            left: 0px;
                            right: 0px;
                            bottom: 0px;
                            margin: auto;
                            width: 4px;
                            height: 4px;
                            background: blue;
                            border-radius: 50%;
                        }
                        .prize-item-list{
                            position: relative;
                            width: 100%;
                            height: 100%;
                            .prize-item{
                                position: absolute;
                                width: 80px;
                                height:100px;
                                text-align: center;
                                .item-content{
                                    position: relative;
                                    width: 100%;
                                    height: 100%;
                                }
                                .name{
                                    font-size: 12px;
                                    color: #fff;
                                }
                                .pic{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    margin: 5px auto 0px auto;
                                    width: 80%;
                                    height: 70%;
                                    img{
                                        max-width: 100%;
                                        max-height: 100%;
                                    }
                                }
                            }
                            .item-1{
                                top: 17px;
                                left: 181px;
                                transform: rotate(22.5deg);
                            }
                            .item-2{
                                top: 81px;
                                left: 245px;
                                transform: rotate(67.5deg);
                            }
                            .item-3{
                                bottom: 80px;
                                left: 246px;
                                transform: rotate(112.5deg);
                            }
                            .item-4{
                                bottom: 17px;
                                left: 181px;
                                transform: rotate(157.5deg);
                            }
                            .item-5{
                                bottom: 17px;
                                right: 181px;
                                transform: rotate(202.5deg);
                            }
                            .item-6{
                                bottom: 80px;
                                right: 246px;
                                transform: rotate(247.5deg);
                            }
                            .item-7{
                                top: 81px;
                                right: 245px;
                                transform: rotate(292.5deg);
                            }
                            .item-8{
                                top: 17px;
                                right: 181px;
                                transform: rotate(337.5deg);
                            }
                        }
                    }
                    .light{
                        display: none;
                        position: absolute;
                        z-index: 1;
                        top: 20px;
                        left: 25px;
                        background: url("../images/activity/light.png") no-repeat;
                        width: 330px;
                        height: 330px;
                        background-size: 100%;
                    }
                    .start{
                        position: absolute;
                        z-index: 2;
                        top: 131px;
                        left: 137px;
                        background: url("../images/activity/start-btn-bg.png") no-repeat;
                        width: 126px;
                        height: 126px;
                        background-size: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .start-btn{
                            background: url("../images/activity/start-btn.png") no-repeat;
                            width: 96px;
                            height: 96px;
                            background-size: 100%;
                            text-align: center;
                            padding-top: 26px;
                            cursor: pointer;
                            transition: all 0.3s;
                            .start-text-icon{
                                background: url("../images/activity/start-text-icon.png ") no-repeat;
                                width: 60px;
                                height: 31px;
                                background-size: 100%;
                            }
                            .cost{
                                font-size: 12px;
                                color: #fff;
                            }
                            &:active{
                                transform: scale(0.95);
                            }
                        }
                    }
                    .pointer{
                        position: absolute;
                        z-index: 3;
                        background: url("../images/activity/pointer.png") no-repeat;
                        width: 190px;
                        height: 58px;
                        background-size: 100%;
                        top:-20px;
                        left: 0px;
                        right: 0px;
                        margin: auto;
                    }
                }
                .score-block{
                    position: relative;
                    top:-22px;
                    background: url("../images/activity/score-block.png") no-repeat;
                    width: 246px;
                    height: 96px;
                    background-size: 100%;
                    margin: 0px auto;
                    padding: 45px 10px 5px 16px;
                    color: #fff;
                    font-size: 14px;
                    .num{
                        color: #ffe371;
                    }
                }
            }
        }
    }

    .win-modal{
        .el-dialog{
            border-radius: 8px;
            background: url("../images/activity/win-modal-bg.png") no-repeat;
            width: 441px;
            height: 441px;
            background-size: 100%;
            box-shadow: none;
            .el-dialog__title{

            }
            .el-dialog__header{
                .el-dialog__headerbtn{
                    display: none;
                    top:10px;
                    right: 10px;
                }
            }
            .el-dialog__body{

            }
           .modal-body{
               padding-top: 60px;
               text-align: center;
               .img-box{
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   margin: 0px auto;
                   width: 130px;
                   height: 130px;
                   img{
                       max-width: 100%;
                   }
               }
               .title{
                   margin-top: 20px;
                   font-size: 16px;
                   color: #ffe432;
                   text-align: center;
                   font-weight: bold;
                 /*  transform: scale(1);*/
               }
           }
            .modal-footer{
                margin-top: 60px;
                text-align: center;
                .handle-btn{
                    display: inline-block;
                    height: 40px;
                    padding: 0px 30px;
                    font-size: 20px;
                    color: #fff;
                    background: #f39700;
                    border-radius: 5px;
                    border: 1px solid rgba(0,0,0,0.1);
                    line-height: 34px;
                    font-family: 'hytangmeiren';
                    &:active{
                        opacity: 0.9;
                    }
                }
            }
        }
    }
    .tips-modal{
        .el-dialog{
            width: 370px;
            border-radius: 6px;
            .el-dialog__header{
                position: relative;
                padding: 8px 0px;
                .el-dialog__headerbtn{
                    top:10px;
                    right: 10px;
                }
            }
            .el-dialog__body{
                padding: 0px;
            }
        }
        .modal-content{

        }
        .modal-header{
            .title-label{
                display: inline-block;
                font-size: 16px;
                color: #fff;
                font-weight: bold;
                height: 30px;
                line-height: 30px;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                padding: 0px 15px;
                background: linear-gradient(to right,#f8354d,#f8354d);
            }
        }
        .modal-body{
            font-size: 14px;
            color: #000;
            min-height: 120px;
            padding: 10px;
            .status-block{
                text-align: center;
                .no-bonus-icon{
                    background: url("../images/activity/no-score-icon.png") no-repeat;
                    width: 60px;
                    height: 76px;
                    background-size: 100%;
                }
                .fail-icon{
                    background: url("../images/langYaDou/give-gift-fail-icon.png") no-repeat;
                    width: 73px;
                    height: 84px;
                    background-size: 100%;
                }
                .tips{
                    margin-top: 10px;
                    font-size: 14px;
                    color: #000;
                }
            }
        }
        .modal-footer{
            text-align: right;
            padding: 10px 10px;
            .handle-btn{
                min-width: 80px;
                text-align: center;
            }
        }
    }
}
@media screen and(max-width: 1000px){
    .draw-activity{
        .page-content{
            width: 100%;
            padding-top: 0.3rem;
            overflow: hidden;
            .title-icon{
                display: block;
                width: 4.4rem;
                height: 1.2rem;
                margin: 0rem auto;
            }
            .main-content{
                position: relative;
                display: block;
                .draw-panel{
                    transform: scale(0.82) translate(-0.4rem,-0.58rem);
                    margin: 0rem !important;
                    width: 407px;
                    .draw-table{
                        /* transform: scale(0.7);*/
                    }
                }
                .info-panel{
                    display: none;
                    position: fixed;
                    top:0rem;
                    left: 0rem;
                    width: 100%;
                    height: 100%;
                    z-index: 10;
                    padding-top: 4rem;
                    .close-btn{
                        display: inline-block;
                        position: relative;
                        top:-0.8rem;
                        right: 0.4rem;
                        float: right;
                        z-index: 3;
                        color: #fff;
                        font-size: 0.8rem;
                        width: 0.48rem;
                        height: 0.48rem;
                        text-align: center;
                        line-height: 0.48rem;
                    }
                    .block{
                        display: none;
                        position: relative;
                        z-index:2;
                        width: 7rem;
                        height: 3.46rem;
                        background-size: 100% 100%;
                        margin: 0rem auto;
                        .block-hd{
                            padding-left: 0.24rem;
                        }
                        .block-bd{
                            font-size: 0.24rem;
                        }
                        &+.block{
                            margin-top: 20px;
                        }
                    }
                    .mask{
                        display: block;
                        position: absolute;
                        top:0rem;
                        left: 0rem;
                        width: 100%;
                        height: 100%;
                        background: rgba(0,0,0,0.7);
                    }
                    .record-list{
                        width: 100%;
                        font-size: 0.24rem;
                        td{
                            padding: 0.1rem 0.04rem;
                        }
                        .time{
                            width: 40%;
                        }
                        .cost{
                            width: 30%;
                        }
                        .result{
                            width: 30%;
                        }
                    }
                    &.show-record{
                        display: block;
                        .record-block{
                            display: block;
                        }
                    }
                    &.show-rule{
                        display: block;
                        .rule-block{
                            display: block;
                        }
                    }
                }
                .handle-btn-list{
                    position: absolute;
                    left: 0rem;
                    bottom: 1.7rem;
                    z-index: 1;
                    width: 100%;
                    display: flex;
                    padding: 0.2rem 0.2rem;
                    .handle-btn{
                        display: inline-block;
                        height: 0.7rem;
                        padding: 0px 0.2rem;
                        font-size: 0.24rem;
                        color: #fff;
                        background: #f39700;
                        border-radius: 5px;
                        border: 1px solid rgba(0,0,0,0.1);
                        line-height: 0.7rem;
                        &:active{
                            opacity: 0.9;
                        }
                        &+.handle-btn{
                            margin-left: auto;
                        }
                    }
                }
            }
        }
        .win-modal{
            .el-dialog{
                border-radius: 8px;
                background: url("../images/activity/win-modal-bg.png") no-repeat;
                width: 441px;
                height: 441px;
                background-size: 100%;
                box-shadow: none;
                .el-dialog__title{

                }
                .el-dialog__header{
                    .el-dialog__headerbtn{
                        display: none;
                        top:10px;
                        right: 10px;
                    }
                }
                .el-dialog__body{

                }
                .modal-body{
                    padding-top: 0.58rem;
                    text-align: center;
                    .img-box{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0px auto;
                        width: 1.6rem;
                        height: 1.6rem;
                        img{
                            max-width: 100%;
                        }
                    }
                    .title{
                        margin-top: 0.2rem;
                        font-size: 0.3rem;
                    }
                }
                .modal-footer{
                    margin-top: 1rem;
                }
            }
        }
    }
}
