.center{
   /* min-height: 90%;*/
    .page-content{
        display: flex;
        margin: 20px auto;
        width: 1000px;
        min-height: 100%;
    }
    .left-nav{
        float: left;
        background: #fff;
        width: 204px;
        min-height: 800px;
        border-radius: 10px;
        padding: 20px 0px;
        color: #000;
        .nav-list{
            .list-hd{
                font-size: 18px;
                padding: 8px 20px;
            }
            .list-bd{}
            &+.nav-list{
                margin-top: 20px;
            }
        }
        ul{
            >li{
                position: relative;
                width: 204px;
                font-size: 14px;
                padding: 8px 20px 8px 40px;
                cursor: pointer;
                &.active{
                    background: #f5f5f5;
                 &:before{
                     content: '';
                     position: absolute;
                     top:0px;
                     bottom: 0px;
                     left: 0px;
                     width: 4px;
                     height: 100%;
                     background: @mainBlue;
                 }
                }
            }
        }
        .vip-nav-list{
            ul{
                >li{
                    &.active{
                        &:before{
                            background: @mainOrange;
                        }
                    }
                }
            }
        }
    }
    .right-page-content{
        margin-left: auto;
        width: 780px;
        border-radius: 10px;
        background: #fff;
        min-height: 100%;
    }
    .user-info{
        padding: 30px 20px;
        .info-panel{
            padding-right: 20px;
        }
        .info-row{
            display: flex;
            font-size: 16px;
            line-height: normal;
            .label{
                display: flex;
                min-width: 80px;
                align-items: center;
                color: #010101;
            }
            .value{
                display: flex;
                align-items: center;
                color: #666;
                .el-input{
                    .el-input__inner{
                        outline: none;
                        border: none;
                        border-radius: 0px;
                        border-bottom: 1px solid #dadada;
                        padding: 0px;
                        &:focus{
                            border-bottom: 2px solid #0facff;
                        }
                    }
                }
                .to-vip-btn{
                    display: inline-block;
                    font-size: 12px;
                    color: #fff;
                    padding: 0px 10px;
                    height: 20px;
                    line-height: 20px;
                    border-radius: 10px;
                    background: linear-gradient(to right,#ffc000,#ff8400);
                    position: relative;
                    top:-1px;
                    left: 2px;
                }
                .link-btn{
                    color: @mainBlue;
                }
            }
            &+.info-row{
                margin-top: 20px;
            }
        }
        .handle-row{
            margin-top: 10px;
            text-align: right;
            .handle-btn{
                height: 30px;
                padding: 0px 20px;
            }
        }
    }
    .vip-store{
        padding: 30px 0px;
        .vip-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0px 5px;
            >li{
                position: relative;
                display: inline-block;
                background: url("../images/vip/vip-item-bg.png") no-repeat;
                width: 360px;
                height: 171px;
                background-size: 100%;
                margin: 0px 10px;
                padding: 10px;
                .cover{
                    float: left;
                    width: 130px;
                    height: 130px;
                    background: #fff;
                    border-radius: 3px;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 3px;
                    }
                }
                .info{
                    padding-left: 145px;
                    color: #fff;
                    text-align: left;
                    .title{
                        padding-top: 2px;
                        font-size: 18px;
                        font-weight: bold;
                    }
                    .desc{
                        font-size: 14px;
                        padding: 10px 0px 8px 0px;
                    }
                    .price{
                        font-size: 14px;
                        .num{
                            font-size: 24px;
                            font-weight: bold;
                        }
                    }
                }
                .buy-btn{
                    position: absolute;
                    top:-2px;
                    right: 7px;
                    display: inline-block;
                    background: url("../images/vip/vip-buy-btn.png") no-repeat;
                    width: 78px;
                    height: 44px;
                    background-size: 100%;
                    font-size: 18px;
                    color: #ba4a00;
                    font-weight: bold;
                    text-align: center;
                    line-height: 40px;
                    transition: all 0.2s;
                    &:active{
                        transform: scale(0.95);
                    }
                }
            }
        }
        .to-pay{
            padding: 0px 20px;
        }
    }
    .safe-box{
        padding: 20px 20px;
        .balance-panel{
            display: flex;
            .balance-item{
                position: relative;
                color: #fff;
                padding: 12px;
                .title{
                    font-size: 18px;
                }
                .value{
                    margin-top: 8px;
                    .num{
                        font-size: 30px;
                        font-family: 'Arial';
                    }
                    .unit{
                        font-size: 14px;
                        padding-left: 4px;
                    }
                }
                .handle{
                    position: absolute;
                    right: 12px;
                    bottom: 12px;
                    .btn{
                        display: block;
                        font-size: 14px;
                        border: 1px solid #fff;
                        border-radius: 5px;
                        padding: 4px 10px;
                        min-width: 68px;
                        text-align: center;
                        &+.btn{
                            margin-top: 8px;
                        }
                    }
                    .solid-btn{
                        background: #fff;
                    }
                }
            }
            .total-balance-item{
                background: url("../images/langYaDou/balance-item1-bg.png") no-repeat;
                width: 360px;
                height: 190px;
                background-size: 100%;
                margin-right: 20px;
                .value{
                    margin-top: 40px;
                    text-align: center;
                }
            }
            .liquidity-balance-item{
                background: url("../images/langYaDou/balance-item2-bg.png") no-repeat;
                width: 360px;
                height: 90px;
                background-size: 100%;
            }
            .safety-balance-item{
                background: url("../images/langYaDou/balance-item3-bg.png") no-repeat;
                width: 360px;
                height: 90px;
                background-size: 100%;
                margin-top: 10px;
                .solid-btn{
                    color: #ffb340;
                }
            }
        }
        .coin-convert-modal{
            .el-dialog{
                width: 360px;
                border-radius: 6px;
                .el-dialog__header{
                    position: relative;
                    height: 30px;
                    .el-dialog__headerbtn{
                        top:10px;
                        right: 10px;
                    }
                }
                .el-dialog__body{
                    padding: 5px 10px;
                }
            }
            .modal-body{
                font-size: 14px;
                color: #000;
                .el-form-item{
                    margin-bottom: 10px;
                }
                .input-item{
                    width: 100px;
                    input{
                        height: 28px;
                        border: none;
                        border-radius: 0px;
                        border-bottom: 2px solid @mainBlue;
                    }
                }
            }
        }
    }
    .tab-panel{
        margin-top: 10px;
        .tab-list{
            ul{
                border-bottom: 2px solid #f5f5f5;
                >li{
                    display: inline-block;
                    position: relative;
                    color: #666;
                    font-size: 16px;
                    padding: 8px 0px;
                    &.active{
                        color: #010101;
                        font-size: 18px;
                        &:after{
                            content: '';
                            position: absolute;
                            left: 0px;
                            bottom: -2px;
                            width: 100%;
                            height: 3px;
                            background: @mainBlue;
                        }
                    }
                    &+li{
                        margin-left: 10px;
                    }
                }
            }
        }
        .filter{
            display: flex;
            margin-top: 15px;
            .type-list{
                display: flex;
                align-items: center;
                font-size: 14px;
                color: #000;
                li{
                    display: inline-block;
                    font-size: 12px;
                    padding: 3px 10px;
                    border-radius: 5px;
                    border: 1px solid #dadada;
                    &.active{
                        background: @mainBlue;
                        border: 1px solid @mainBlue;
                        color: #fff;
                    }
                    &+li{
                        margin-left: 5px;
                    }
                }
            }
            .all-btn{
                margin-left: auto;
                display: inline-block;
                font-size: 12px;
                padding: 5px 10px;
                border-radius: 5px;
                border: 1px solid #dadada;
            }
        }
        .gift-list{
            margin-top: 15px;
            >li{
                padding: 10px 0px;
                display: flex;
                border-top:1px solid #f7f7f7;
                .cover{
                    width: 110px;
                    height: 110px;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                    }
                }
                .info{
                    margin-left: 10px;
                    padding-top: 4px;
                    .title-row{
                        font-size: 16px;
                        color: #000;
                        padding-bottom: 10px;
                        .count{
                            display: inline-block;
                            margin-left: 5px;
                            height: 14px;
                            font-size: 12px;
                            color: #e5004f;
                            line-height: 13px;
                            border-radius: 7px;
                            padding: 0px 6px;
                            border: 1px solid #e5004f;
                        }
                    }
                    .info-row{
                        font-size: 14px;
                        color: #666;
                        &+.info-row{
                            margin-top: 4px;
                        }
                    }
                }
                .handle{
                    display: flex;
                    align-items: center;
                    margin-left: auto;
                    .exchange-btn{
                        display: inline-block;
                        font-size: 12px;
                        padding: 5px 15px;
                        border-radius: 5px;
                        color: #000;
                        border: 1px solid #dadada;
                        height: 28px;
                        &:focus,&:hover{
                            background: @mainBlue;
                            color: #fff;
                            border: 1px solid @mainBlue;
                        }
                        &:active{
                           background: #409eff;
                        }
                    }
                    .status{
                        display: none;
                        padding: 0px 10px;
                    }
                }
                &.disabled{
                    .exchange-btn{
                        display: none;
                        pointer-events: none;
                        opacity: 0.5;
                    }
                    .status{
                        display: block;
                    }
                }
            }
        }
    }
    .payment-info{
        padding-top: 5px;
        .info-row{
            font-size: 16px;
            color: #010101;
            margin-top: 15px;
            .num{
                position: relative;
                top:1px;
                font-size: 24px;
                color: @mainBlue;
            }
            &.payment-info{
                text-align: center;
                background: #f4f4f4;
                padding: 20px 0px;
                .qrcode-item{
                    .img-box{
                        background: #f4f4f4;
                        border-radius: 3px;
                        padding: 5px;
                    }
                }
            }
        }
        .pay-type-list{
            margin-top: 20px;
            >li{
                display: inline-block;
                .item-bd{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 130px;
                    height: 130px;
                    border-radius: 10px;
                    border: 1px solid #dadada;
                    .wechat-icon{
                        background: url("../images/common/wechat-icon.png") no-repeat;
                        width: 50px;
                        height: 50px;
                        background-size: 100%;
                    }
                    .ali-icon{
                        background: url("../images/common/ali-icon.png") no-repeat;
                        width: 50px;
                        height: 50px;
                        background-size: 100%;
                    }
                }
                .item-ft{
                    text-align: center;
                    font-size: 14px;
                    color: #666;
                    padding-top: 5px;
                }
                &+li{
                    margin-left: 20px;
                }
                &.active{
                    .item-bd{
                        border: 1px solid @mainBlue;
                        &:after{
                            display: inline-block;
                            content: '';
                            position: absolute;
                            right: -1px;
                            bottom: -1px;
                            background: url("../images/common/selected-icon.png") no-repeat;
                            width: 25px;
                            height: 24px;
                            background-size: 100%;
                        }
                    }
                }
            }
        }
        .handle{
            margin-top: 20px;
            padding: 0px 20px;
            button{
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
    .charge{
        padding: 0px 20px 20px 20px;
        .price-list{
            margin-top: 20px;
            >li{
                display: inline-block;
                width: 100px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 5px;
                border: 1px solid #dadada;
                font-size: 16px;
                color: #000;
                overflow: hidden;
                &.active{
                    position: relative;
                    border: 1px solid @mainBlue;
                    &:after{
                        display: inline-block;
                        content: '';
                        position: absolute;
                        right: -1px;
                        bottom: -1px;
                        background: url("../images/common/selected-icon.png") no-repeat;
                        width: 25px;
                        height: 24px;
                        background-size: 100%;
                    }
                }
                &+li{
                    margin-left: 20px;
                }
            }
        }
    }
    .gift-type{
        padding:0px 20px;
        .gift-type-list{
            padding: 10px 0px;
            li{
                display: inline-block;
                width: 140px;
                margin: 15px 20px;
                text-align: center;
                img{
                    width: 140px;
                    height: 140px;
                    border-radius: 10px;
                }
                .title{
                    margin-top: 4px;
                    font-size: 14px;
                    color: #000;
                }
                .handle-btn{
                    margin-top: 8px;
                    display: inline-block;
                    font-size: 12px;
                    padding: 5px 35px;
                    border-radius: 5px;
                    color: #000;
                    border: 1px solid #dadada;
                    height: 28px;
                    &:focus,&:hover{
                        background: @mainBlue;
                        color: #fff;
                        border: 1px solid @mainBlue;
                    }
                    &:active{
                        background: #409eff;
                    }
                }
            }
        }
        .give-modal{
            .el-dialog{
                width: 370px;
                border-radius: 6px;
                .el-dialog__header{
                    position: relative;
                    padding: 8px 0px;
                    .el-dialog__headerbtn{
                        top:10px;
                        right: 10px;
                    }
                }
                .el-dialog__body{
                    padding: 0px;
                }
            }
            .modal-content{

            }
            .modal-header{
                .title-label{
                    display: inline-block;
                    font-size: 16px;
                    color: #fff;
                    font-weight: bold;
                    height: 30px;
                    line-height: 30px;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    padding: 0px 15px;
                    background: linear-gradient(to right,#f8354d,#f8354d);
                }
            }
            .modal-body{
                font-size: 14px;
                color: #000;
                min-height: 120px;
                padding: 10px;
                .form{
                    padding-top: 20px;
                    width: 90%;
                    margin: 0px auto;
                }
                .el-form-item{
                    margin-bottom: 10px;
                }
                .input-item{
                    input{
                        height: 28px;
                        border: none;
                        border-radius: 0px;
                        border-bottom: 2px solid @mainBlue;
                    }
                }
                .user-info-block{
                    overflow: hidden;
                    img{
                        float: left;
                        width: 70px;
                        height: 70px;
                        border-radius: 5px;
                    }
                    .text-info{
                        float: left;
                        margin-left: 10px;
                        p{
                            font-size: 16px;
                            color: #000;
                            padding-top: 5px;
                            line-height: normal;
                            &+p{
                                padding-top: 10px;
                                font-size: 14px;
                                color: #999;
                            }
                        }
                    }
                }
                .num{
                    color: @mainBlue;
                    font-size: 20px;
                    padding-right: 5px;
                }
                .status-block{
                    text-align: center;
                    .success-icon{
                        background: url("../images/langYaDou/give-gift-success-icn.png") no-repeat;
                        width: 68px;
                        height: 82px;
                        background-size: 100%;
                    }
                    .fail-icon{
                        background: url("../images/langYaDou/give-gift-fail-icon.png") no-repeat;
                        width: 73px;
                        height: 84px;
                        background-size: 100%;
                    }
                    .tips{
                        margin-top: 10px;
                        font-size: 14px;
                        color: #000;
                    }
                }
            }
            .modal-footer{
                text-align: right;
                padding: 10px 10px;
                .handle-btn{
                    min-width: 80px;
                    text-align: center;
                }
            }
        }
    }
}
