.manor-game{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/manor/game-bg.jpg") no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    padding-top: 0rem;
    user-select: none;
    font-family: 'hytangmeiren';
    overflow: hidden;
    @size:2;
    .manor-logo-icon{
        position: absolute;
        top:10px;
        left: 90px;
        background: url("../images/manor/logo-icon.png") no-repeat;
        width: 296px/@size;
        height: 104px/@size;
        background-size: 100% 100%;
    }
    .return-btn{
        position: absolute;
        top:18px;
        left: -2px;
        background: url("../images/manor/return-btn.png") no-repeat;
        width: 70px;
        height: 37px;
        background-size: 100% 100%;
    }
    .display-panel{
        position: absolute;
        top:0px;
        left: 0px;
        width: 100%;
        height: 100%;
        .panel-bd{
            position: relative;
            width: 100%;
            height: 100%;
            .egg-block{
                position: absolute;
                z-index: 1;
                left: 0px;
                bottom: 50px;
                width: 100px;
                height: 100px;
                .block-bd{
                    position: relative;
                    width: 100%;
                    height: 100%;
                }
                .outside-light-icon{
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    bottom: 12px;
                    margin: auto;
                    width: 189px/@size;
                    height: 137px/@size;
                }
                .container-icon{
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    margin:auto;
                    width: 122px/@size;
                    height: 117px/@size;
                }
                .inside-light-icon{
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    bottom: 5px;
                    margin: auto;
                    width: 141px/@size;
                    height: 110px/@size;
                }
                .egg-icon{
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    bottom: 12px;
                    margin: auto;
                    width: 102px/@size;
                    height: 139px/@size;
                }
                &.silver{
                    .outside-light-icon{
                        background: url("../images/manor/silver-outside-light-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    .container-icon{
                        background: url("../images/manor/silver-egg-container-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    .inside-light-icon{
                        background: url("../images/manor/silver-inside-light-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    .egg-icon{
                        background: url("../images/manor/silver-egg-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                }
                &.silver{
                    .outside-light-icon{
                        background: url("../images/manor/silver-outside-light-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    .container-icon{
                        background: url("../images/manor/silver-egg-container-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    .inside-light-icon{
                        background: url("../images/manor/silver-inside-light-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    .egg-icon{
                        background: url("../images/manor/silver-egg-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                }
                &.gold{
                    .outside-light-icon{
                        background: url("../images/manor/gold-egg-outside-light-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    .container-icon{
                        background: url("../images/manor/gold-egg-container-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    .inside-light-icon{
                        background: url("../images/manor/gold-egg-inside-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    .egg-icon{
                        background: url("../images/manor/gold-egg-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                }
            }
            .animal-block{
                position: absolute;
                left: 25px;
                right: 0px;
                bottom: 45px;
                margin: auto;
                width: 441px/@size;
                height: 300px;
                .block-bd{
                    position: relative;
                    width: 100%;
                    height: 100%;
                }
                .white-light-icon{
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    background: url("../images/manor/white-light-icon.png") no-repeat;
                    width: 445px/@size;
                    height: 400px/@size;
                    background-size: 100% 100%;
                }
                .red-light-icon{
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    background: url("../images/manor/red-light-icon.png") no-repeat;
                    width: 445px/@size;
                    height: 363px/@size;
                    background-size: 100% 100%;
                }
                .tree-icon{
                    position: absolute;
                    z-index: 1;
                    bottom: 12px;
                    background: url("../images/manor/tree-icon.png") no-repeat;
                    width: 67px/@size;
                    height: 81px/@size;
                    background-size: 100% 100%;
                }
                .left-tree{
                    left: 15px;
                }
                .right-tree{
                    right: 15px;
                }
                .floor{
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    margin: auto;
                    background: url("../images/manor/floor-icon.png") no-repeat;
                    width: 441px/@size;
                    height: 158px/@size;
                    background-size: 100% 100%;
                }
            }
            .tool-block{
                position: absolute;
                right: 2px;
                bottom: 30px;
                width: 70px;
                text-align: center;
                .handle-btn{
                    display: inline-block;
                    &+.handle-btn{
                        margin-top: 20px;
                    }
                }
                .feed-btn{
                    background: url("../images/manor/feed-btn-icon.png") no-repeat;
                    width: 141px/@size;
                    height: 137px/@size;
                    background-size: 100% 100%;
                }
                .sell-btn{
                    background: url("../images/manor/sale-btn-icon.png") no-repeat;
                    width: 120px/@size;
                    height: 134px/@size;
                    background-size: 100% 100%;
                }
            }
        }
    }
    .level-modal{
        position: absolute;
        top:55px;
        left: 0px;
        width: 100%;
        text-align: center;
        @size:2.14;
        .modal-body{
            display: inline-block;
            background: url("../images/manor/select-level-modal-bg.png") no-repeat;
            width: 722px/@size;
            height: 1041px/@size;
            background-size: 100% 100%;
            .level-list{
                padding-top: 72px;
                >li{
                    display: inline-block;
                    margin: 5px;
                    width: 276px/@size;
                    height: 213px/@size;
                    font-size: 16px;
                    padding-top: 40px;
                    line-height: 22px;
                    .strong{
                        color: #fff100;
                    }
                    &:nth-child(1){
                        background: url("../images/manor/bronze-choice-bg.png") no-repeat;
                        background-size: 100% 100%;
                        color: #ffe2de;
                    }
                    &:nth-child(2){
                        background: url("../images/manor/silver-choice-bg.png") no-repeat;
                        background-size: 100% 100%;
                        color: #e5e5e5;
                    }
                    &:nth-child(3){
                        position: relative;
                        left: -1px;
                        background: url("../images/manor/gold-choice-bg.png") no-repeat;
                        width: 277px/@size;
                        background-size: 100% 100%;
                        color: #fff2d2;
                    }
                    &:nth-child(4){
                        position: relative;
                        left: -5px;
                        background: url("../images/manor/diamond-choice-bg.png") no-repeat;
                        width: 287px/@size;
                        background-size: 100% 100%;
                        color: #dfe5ff;
                    }
                }
            }
            .rule-block{
                margin-top: 57px;
                width: 100%;
                height: 158px;
                padding: 18px 20px 18px 25px;
                ::-webkit-scrollbar {/*滚动条整体样式*/
                    width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
                    height: 5px;
                }
                ::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
                    border-radius: 2px;
                    -webkit-box-shadow: inset 0 0 5px #d2763c;
                    background: #d2763c;
                }
                ::-webkit-scrollbar-track {/*滚动条里面轨道*/
                    display: none;
                    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
                    border-radius: 5px;
                    background: rgba(0,0,0,0.1);
                }
                .block-bd{
                    width: 100%;
                    height: 100%;
                    font-size: 16px;
                    color: #874014;
                    text-align: left;
                    line-height: 20px;
                    overflow: auto;
                    padding-top: 0px;
                }
            }
        }
    }
}
