.manor-game{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/manor/game-bg.jpg") no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    padding-top: 0rem;
    user-select: none;
    font-family: 'hytangmeiren';
    overflow: hidden;
    @size:2;
    .manor-logo-icon{
        position: absolute;
        top:10px;
        left: 90px;
        background: url("../images/manor/logo-icon.png") no-repeat;
        width: 296px/@size;
        height: 104px/@size;
        background-size: 100% 100%;
    }
    .return-btn{
        position: absolute;
        top:18px;
        left: -2px;
        background: url("../images/manor/return-btn.png") no-repeat;
        width: 70px;
        height: 37px;
        background-size: 100% 100%;
    }
    .display-panel{
        position: absolute;
        top:0px;
        left: 0px;
        width: 100%;
        height: 100%;
        .panel-bd{
            position: relative;
            width: 100%;
            height: 100%;
            .egg-block{
                position: absolute;
                z-index: 1;
                left: 0px;
                bottom: 50px;
                width: 100px;
                height: 100px;
                .block-bd{
                    position: relative;
                    width: 100%;
                    height: 100%;
                }
                .outside-light-icon{
                    display: none;
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    bottom: 12px;
                    margin: auto;
                    width: 189px/@size;
                    height: 137px/@size;
                }
                .container-icon{
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    margin:auto;
                    width: 122px/@size;
                    height: 117px/@size;
                }
                .inside-light-icon{
                    display: none;
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    bottom: 5px;
                    margin: auto;
                    width: 141px/@size;
                    height: 110px/@size;
                }
                .egg-icon{
                    display: none;
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    bottom: 12px;
                    margin: auto;
                    width: 102px/@size;
                    height: 139px/@size;
                 /*   &:hover{
                        transform: scale(1.2);
                    }*/
                    &:active{
                        transform: scale(0.96);
                    }
                }
                &.bronze{
                    .outside-light-icon{
                        background: url("../images/manor/copper-egg-outside-light-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    .container-icon{
                        background: url("../images/manor/copper-egg-container-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    .inside-light-icon{
                        background: url("../images/manor/copper-egg-inside-light-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    .egg-icon{
                        background: url("../images/manor/copper-egg-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                }
                &.silver{
                    .outside-light-icon{
                        background: url("../images/manor/silver-egg-outside-light-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    .container-icon{
                        background: url("../images/manor/silver-egg-container-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    .inside-light-icon{
                        background: url("../images/manor/silver-egg-inside-light-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    .egg-icon{
                        background: url("../images/manor/silver-egg-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                }
                &.gold{
                    .outside-light-icon{
                        background: url("../images/manor/gold-egg-outside-light-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    .container-icon{
                        background: url("../images/manor/gold-egg-container-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    .inside-light-icon{
                        background: url("../images/manor/gold-egg-inside-light-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    .egg-icon{
                        background: url("../images/manor/gold-egg-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                }
                &.diamond{
                    .outside-light-icon{
                        background: url("../images/manor/diamond-egg-outside-light-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    .container-icon{
                        background: url("../images/manor/diamond-egg-container-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    .inside-light-icon{
                        background: url("../images/manor/diamond-egg-inside-light-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    .egg-icon{
                        background: url("../images/manor/diamond-egg-icon.png") no-repeat;
                        background-size: 100% 100%;
                    }
                }
                &.has{
                    .outside-light-icon{
                        display: inline-block;
                    }
                    .inside-light-icon{
                        display: inline-block;
                    }
                    .egg-icon{
                        display: inline-block;
                    }
                }
            }
            .animal-block{
                position: absolute;
                left: 25px;
                right: 0px;
                bottom: 45px;
                margin: auto;
                width: 441px/@size;
                height: 300px;
                .block-bd{
                    position: relative;
                    width: 100%;
                    height: 100%;
                }
                .white-light-icon{
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    background: url("../images/manor/white-light-icon.png") no-repeat;
                    width: 445px/@size;
                    height: 400px/@size;
                    background-size: 100% 100%;
                }
                .red-light-icon{
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    background: url("../images/manor/red-light-icon.png") no-repeat;
                    width: 445px/@size;
                    height: 363px/@size;
                    background-size: 100% 100%;
                }
                .tree-icon{
                    position: absolute;
                    z-index: 5;
                    bottom: 12px;
                    background: url("../images/manor/tree-icon.png") no-repeat;
                    width: 67px/@size;
                    height: 81px/@size;
                    background-size: 100% 100%;
                }
                .left-tree{
                    left: 15px;
                }
                .right-tree{
                    right: 15px;
                }
                .floor{
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    margin: auto;
                    background: url("../images/manor/floor-icon.png") no-repeat;
                    width: 441px/@size;
                    height: 158px/@size;
                    background-size: 100% 100%;
                }
                .animal-box{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    z-index: 2;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    margin: auto;
                    width: 400px/@size;
                    height: 400px/@size;
                }
                .animal{
                    display: inline-block;
                }
                .turtle-animal{
                    &.left{
                        background: url("../images/manor/gif/bronze-turtle-left.gif") no-repeat;
                        width: 340px/@size;
                        height: 340px/@size;
                        background-size: 100% 100%;
                    }
                    &.right{
                        background: url("../images/manor/gif/bronze-turtle-right.gif") no-repeat;
                        width: 340px/@size;
                        height: 340px/@size;
                        background-size: 100% 100%;
                    }
                }

            }
            .tool-block{
                position: absolute;
                right: 2px;
                bottom: 30px;
                width: 70px;
                text-align: center;
                .handle-btn{
                    display: inline-block;
                    &+.handle-btn{
                        margin-top: 20px;
                    }
                    &:active{
                        transform: scale(0.96);
                    }
                }
                .feed-btn{
                    background: url("../images/manor/feed-btn-icon.png") no-repeat;
                    width: 141px/@size;
                    height: 137px/@size;
                    background-size: 100% 100%;
                }
                .sell-btn{
                    background: url("../images/manor/sale-btn-icon.png") no-repeat;
                    width: 120px/@size;
                    height: 134px/@size;
                    background-size: 100% 100%;
                }
            }
        }
    }
    .level-modal{
        position: absolute;
        z-index: 10;
        top:55px;
        left: 0px;
        width: 100%;
        text-align: center;
        @size:2.14;
        .modal-body{
            display: inline-block;
            background: url("../images/manor/select-level-modal-bg.png") no-repeat;
            width: 722px/@size;
            height: 1041px/@size;
            background-size: 100% 100%;
            .level-list{
                padding-top: 72px;
                min-height: 280px;
                >li{
                    display: inline-block;
                    margin: 5px;
                    width: 276px/@size;
                    height: 213px/@size;
                    font-size: 16px;
                    padding-top: 40px;
                    line-height: 22px;
                    cursor: pointer;
                    .strong{
                        color: #fff100;
                    }
                    &:nth-child(1){
                        background: url("../images/manor/bronze-choice-bg.png") no-repeat;
                        background-size: 100% 100%;
                        color: #ffe2de;
                    }
                    &:nth-child(2){
                        background: url("../images/manor/silver-choice-bg.png") no-repeat;
                        background-size: 100% 100%;
                        color: #e5e5e5;
                    }
                    &:nth-child(3){
                        position: relative;
                        left: -1px;
                        background: url("../images/manor/gold-choice-bg.png") no-repeat;
                        width: 277px/@size;
                        background-size: 100% 100%;
                        color: #fff2d2;
                    }
                    &:nth-child(4){
                        position: relative;
                        left: -5px;
                        background: url("../images/manor/diamond-choice-bg.png") no-repeat;
                        width: 287px/@size;
                        background-size: 100% 100%;
                        color: #dfe5ff;
                    }
                    &:active{
                        transform: scale(0.96);
                    }
                }
            }
            .rule-block{
                margin-top: 57px;
                width: 100%;
                height: 158px;
                padding: 18px 20px 18px 25px;
                ::-webkit-scrollbar {/*滚动条整体样式*/
                    width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
                    height: 5px;
                }
                ::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
                    border-radius: 2px;
                    -webkit-box-shadow: inset 0 0 5px #d2763c;
                    background: #d2763c;
                }
                ::-webkit-scrollbar-track {/*滚动条里面轨道*/
                    display: none;
                    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
                    border-radius: 5px;
                    background: rgba(0,0,0,0.1);
                }
                .block-bd{
                    width: 100%;
                    height: 100%;
                    font-size: 16px;
                    color: #874014;
                    text-align: left;
                    line-height: 20px;
                    overflow: auto;
                    padding-top: 0px;
                }
            }
        }
    }
    @animalIconSize:4;
    .turtle-icon{
        width: 279px/@animalIconSize;
        height: 289px/@animalIconSize;
    }
    .pixiu-icon{
        width: 416px/@animalIconSize;
        height: 276px/@animalIconSize;
    }
    .kirin-icon{
        width: 394px/@animalIconSize;
        height: 237px/@animalIconSize;
    }
    .phoenix-icon{
        width: 408px/@animalIconSize;
        height: 295px/@animalIconSize;
    }
    //
    .bronze-turtle-icon{
        background: url("../images/manor/bronze-turtle-icon.png") no-repeat;
        background-size: 100% 100%;
    }
    .bronze-pixiu-icon{
        background: url("../images/manor/bronze-pixiu-icon.png") no-repeat;
        background-size: 100% 100%;
    }
    .bronze-kirin-icon{
        background: url("../images/manor/bronze-kirin-icon.png") no-repeat;
        background-size: 100% 100%;
    }
    .bronze-phoenix-icon{
        background: url("../images/manor/bronze-phoenix-icon.png") no-repeat;
        background-size: 100% 100%;
    }
    //
    .silver-turtle-icon{
        background: url("../images/manor/silver-turtle-icon.png") no-repeat;
        background-size: 100% 100%;
    }
    .silver-pixiu-icon{
        background: url("../images/manor/silver-pixiu-icon.png") no-repeat;
        background-size: 100% 100%;
    }
    .silver-kirin-icon{
        background: url("../images/manor/silver-kirin-icon.png") no-repeat;
        background-size: 100% 100%;
    }
    .silver-phoenix-icon{
        background: url("../images/manor/silver-phoenix-icon.png") no-repeat;
        background-size: 100% 100%;
    }
    //
    .gold-turtle-icon{
        background: url("../images/manor/gold-turtle-icon.png") no-repeat;
        background-size: 100% 100%;
    }
    .gold-pixiu-icon{
        background: url("../images/manor/gold-pixiu-icon.png") no-repeat;
        background-size: 100% 100%;
    }
    .gold-kirin-icon{
        background: url("../images/manor/gold-kirin-icon.png") no-repeat;
        background-size: 100% 100%;
    }
    .gold-phoenix-icon{
        background: url("../images/manor/gold-phoenix-icon.png") no-repeat;
        background-size: 100% 100%;
    }
    //
    .diamond-turtle-icon{
        background: url("../images/manor/diamond-turtle-icon.png") no-repeat;
        background-size: 100% 100%;
    }
    .diamond-pixiu-icon{
        background: url("../images/manor/diamond-pixiu-icon.png") no-repeat;
        background-size: 100% 100%;
    }
    .diamond-kirin-icon{
        background: url("../images/manor/diamond-kirin-icon.png") no-repeat;
        background-size: 100% 100%;
    }
    .diamond-phoenix-icon{
        background: url("../images/manor/diamond-phoenix-icon.png") no-repeat;
        background-size: 100% 100%;
    }
    .pic-box{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top:3px;
        left: 3px;
        background: url("../images/manor/phoenix-item-bg.png") no-repeat;
        width: 240px/@size;
        height: 162px/@size;
        background-size: 100% 100%;
        overflow: auto;
    }
    .select-animal-modal{
        position: absolute;
        z-index: 10;
        top:55px;
        left: 0px;
        width: 100%;
        text-align: center;
        @size:2.14;
        .modal-content{
            margin: 0px auto;
            background: url("../images/manor/select-beast-modal-bg.png") no-repeat;
            width: 713px/@size;
            height: 1051px/@size;
            background-size: 100% 100%;
        }
        .modal-header{
            padding-top: 12px;
            color: #fee6c5;
            line-height: normal;
            .title{
                font-size: 24px;
                background-image: -webkit-gradient(linear, 0 0, 0 78%, from(rgba(255,255,255, 1)), to(rgba(255, 238, 146, 1)));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .info{
                position: relative;
                top:-2px;
                font-size: 14px;
            }
        }
        .modal-body{
            .item-list{
                text-align: center;
                width: 100%;
                padding-top: 18px;
                padding-left: 3px;
                >li{
                    position: relative;
                    display: inline-block;
                    background: url("../images/manor/row-bg.png") no-repeat;
                    width: 592px/@size;
                    height: 185px/@size;
                    background-size: 100% 100%;
                    .item-hd{
                        padding-left: 30px;
                        padding-top: 3px;
                        .name-icon{
                            width: 105px/2;
                            height: 57px/2;
                        }
                        .turtle-name-icon{
                            background: url("../images/manor/turtle-name-icon.png") no-repeat;
                            background-size: 100% 100%;
                        }
                        .pixiu-name-icon{
                            background: url("../images/manor/pixiu-name-icon.png") no-repeat;
                            background-size: 100% 100%;
                        }
                        .kirin-name-icon{
                            background: url("../images/manor/kirin-name-icon.png") no-repeat;
                            background-size: 100% 100%;
                        }
                        .phoenix-name-icon{
                            background: url("../images/manor/phoenix-name-icon.png") no-repeat;
                            background-size: 100% 100%;
                        }
                    }
                    .item-bd{
                        padding: 8px 10px;
                        .handle-btn{
                            float: right;
                            background: url("../images/manor/row-btn.png") no-repeat;
                            width: 183px/@size;
                            height: 78px/@size;
                            background-size: 100% 100%;
                            cursor: pointer;
                            &:active{
                                transform: scale(0.96);
                            }
                        }
                    }
                    &+li{
                        margin-top: 8px;
                    }
                }
            }
        }
    }
    .dialog-modal{
        background: red;
        border-radius: 8px;
        background: url("../images/manor/cm-modal-bg.png") no-repeat;
        width: 680px/@size !important;
        height: 555px/@size;
        background-size: 100% 100%;
        font-family: 'hytangmeiren';
        box-shadow: none;
        .el-dialog__header{
            display: none;
        }
        .el-dialog__body{
            padding: 0px;
        }
        .modal-header{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 100%;
            height: 40px;
            .adopt-title-icon{
                background: url("../images/manor/adopt-title-icon.png") no-repeat;
                width: 208px/@size;
                height: 59px/@size;
                background-size: 100% 100%;
            }
            .feed-title-icon{
                background: url("../images/manor/feed-title-icon.png") no-repeat;
                width: 206px/@size;
                height: 59px/@size;
                background-size: 100% 100%;
            }
            .sell-title-icon{
                background: url("../images/manor/sell-title-icon.png") no-repeat;
                width: 205px/@size;
                height: 59px/@size;
                background-size: 100% 100%;
            }
            .title{
                position: relative;
                top:8px;
            }
            .close-btn{
                position: absolute;
                top:-8px;
                right: -8px;
                display: inline-block;
                background: url("../images/manor/cm-modal-close-btn.png") no-repeat;
                width: 66px/@size;
                height: 66px/@size;
                background-size: 100% 100%;
            }
        }
        .modal-body{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 155px;
            padding: 20px 20px 0px 20px;
            text-align: center;
            .strong{
             color: #eb6100;
            }
            .text{
                font-size: 20px;
                color: #29750f;
            }
            .tips-icon{
                margin-bottom: 5px;
            }
            .fail-icon{
                display: inline-block;
                background: url("../images/manor/warn-icon.png") no-repeat;
                width: 78px/@size;
                height: 70px/@size;
                background-size: 100% 100%;
            }
            .success-icon{
                display: inline-block;
                background: url("../images/manor/success-icon.png") no-repeat;
                width: 136px/@size;
                height: 136px/@size;
                background-size: 100% 100%;
            }
            .tips{
                margin-top: 10px;
                font-size: 16px;
                color: #eb6100;
            }
            .animal-info{
                margin-top: 8px;
                .pic-box{
                    position: relative;
                    margin: 0px auto;
                }
                .price{
                    margin-top: 5px;
                    font-size: 16px;
                    color: #29750f;
                }
            }
        }
        .modal-footer{
            margin-top: 10px;
            text-align: center;
            .handle-btn{
                display: inline-block;
                width: 254px/@size;
                height: 96px/@size;
                &+.handle-btn{
                    margin-left: 20px;
                }
            }
            .cancel-btn{
                background: url("../images/manor/cm-modal-cancel-btn.png") no-repeat;
                background-size: 100% 100%;
            }
            .ok-btn{
                background: url("../images/manor/cm-modal-sure-btn.png") no-repeat;
                background-size: 100% 100%;
            }
        }
    }
}
