.zodiac-hall{
    background: url("../images/zodiac/hall-bg.jpg") no-repeat;
    background-size: cover;
    min-height: 100%;
    user-select: none;
    font-family: 'hytangmeiren';
    .page-content{
        position: relative;
        width: 1310px;
        margin: 0px auto;
        padding-bottom: 40px;
        .logo-icon{
            background: url("../images/zodiac/logo-icon.png") no-repeat;
            width: 424px;
            height: 97px;
            background-size: 100% 100%;
        }
        .logo{
            margin: 24px 0px 0px 254px;
        }
        .panel{
            overflow: hidden;
        }
        .block{
            padding: 4px;
            .block-hd{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 34px;
                .title{
                    font-size: 22px;
                    color: #fff;
                    text-align: center;
                    font-family: 'hytangmeiren';
                }
            }
        }
        .desc-btn{
            display: none;
        }
        .carousel-block{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 25px 0px 0px 160px;
            background: url("../images/zodiac/zodiac-carousel-bg.png") no-repeat;
            width: 627px;
            height: 125px;
            background-size: cover;
            .tiger-zodiac-icon{
                background: url("../images/zodiac/tiger-zodiac-icon.png") no-repeat;
                width: 100px;
                height: 86px;
                background-size: 100% 100%;
            }
            .rabbit-zodiac-icon{
                background: url("../images/zodiac/rabbit-zodiac-icon.png") no-repeat;
                width: 100px;
                height: 86px;
                background-size: 100% 100%;
            }
            .cow-zodiac-icon{
                background: url("../images/zodiac/cow-zodiac-icon.png") no-repeat;
                width: 100px;
                height: 86px;
                background-size: 100% 100%;
            }
            .sheep-zodiac-icon{
                background: url("../images/zodiac/sheep-zodiac-icon.png") no-repeat;
                width: 100px;
                height: 86px;
                background-size: 100% 100%;
            }
            .chicken-zodiac-icon{
                background: url("../images/zodiac/chicken-zodiac-icon.png") no-repeat;
                width: 100px;
                height: 86px;
                background-size: 100% 100%;
            }
            .dog-zodiac-icon{
                background: url("../images/zodiac/dog-zodiac-icon.png") no-repeat;
                width: 100px;
                height: 86px;
                background-size: 100% 100%;
            }
            .monkey-zodiac-icon{
                background: url("../images/zodiac/monkey-zodiac-icon.png") no-repeat;
                width: 100px;
                height: 86px;
                background-size: 100% 100%;
            }
            .pig-zodiac-icon{
                background: url("../images/zodiac/pig-zodiac-icon.png") no-repeat;
                width: 100px;
                height: 86px;
                background-size: 100% 100%;
            }
            .mouse-zodiac-icon{
                background: url("../images/zodiac/mouse-zodiac-icon.png") no-repeat;
                width: 100px;
                height: 86px;
                background-size: 100% 100%;
            }
            .horse-zodiac-icon{
                background: url("../images/zodiac/horse-zodiac-icon.png") no-repeat;
                width: 100px;
                height: 86px;
                background-size: 100% 100%;
            }
            .snake-zodiac-icon{
                background: url("../images/zodiac/snake-zodiac-icon.png") no-repeat;
                width: 100px;
                height: 86px;
                background-size: 100% 100%;
            }
            .dragon-zodiac-icon{
                background: url("../images/zodiac/dragon-zodiac-icon.png") no-repeat;
                width: 100px;
                height: 86px;
                background-size: 100% 100%;
            }
            .zodiac-item{

            }
            .zodiac-list{
                white-space:nowrap;
                transition: margin-left 0.3s;
                >li{
                    display: inline-block;
                }
            }
            .view-box{
                width: 87%;
               /* border: 1px solid red;*/
                overflow: hidden;
                border-bottom-right-radius: 36px;
            }
        }
        .room-panel{
            margin-top: 20px;
        }
        .level-block{
            float: left;
            background: url("../images/zodiac/level-block-bg.png") no-repeat;
            width: 986px;
            height: 360px;
            background-size: cover;
            .block-bd{

            }
        }
        .room-list{
            margin-top: 28px;
            text-align: center;
            >li{
                display: inline-block;
                width: 212px;
                height: 217px;
                background-size: 100% 100%;
                cursor: pointer;
                font-family: 'hytangmeiren';
                .title{
                    margin-top: 33px;
                    font-size: 37px;
                    color: #fff;
                    text-shadow: black 0.02em 0.02em 0.05em
                }
                .limit{
                    margin-top: 15px;
                    font-size: 14px;
                }
                .count{
                    font-size: 18px;
                }
                &+li{
                    margin-left: 18px;
                }
            }
            .level1{
                background: url("../images/zodiac/level1-room-entrance.png") no-repeat;
                color: #317ec0;
            }
            .level2{
                background: url("../images/zodiac/level2-room-entrance.png") no-repeat;
                color: #21908f;
            }
            .level3{
                background: url("../images/zodiac/level3-room-entrance.png") no-repeat;
                color: #359633;
            }
            .level4{
                background: url("../images/zodiac/level4-room-entrance.png") no-repeat;
                color: #a87920;
            }
        }
        .introduce-block{
            float: right;
            background: url("../images/zodiac/introduce-block-bg.png") no-repeat;
            width: 306px;
            height: 360px;
            background-size:cover;
            font-size: 14px;
            color:#2096e0;
            font-family: 'hytangmeiren';
            .block-bd{
                width: 95%;
                height: 85%;
                margin: 0px auto;
                overflow: auto;
                padding: 15px;
                &::-webkit-scrollbar {/*滚动条整体样式*/
                    width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
                    height: 5px;
                }
               &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
                    border-radius: 5px;
                    -webkit-box-shadow: inset 0 0 5px #2096e0;
                    background: #2096e0;
                }
                &::-webkit-scrollbar-track {/*滚动条里面轨道*/
                    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
                    border-radius: 0;
                    background: rgba(0,0,0,0.1);
                }
            }
        }
    }
}
@media screen and(max-width: 1000px){
    .zodiac-hall{
        background: url("../images/zodiac/m-hall-bg.jpg") no-repeat;
        background-size: 100% auto;
        .page-content{
            width: 100%;
            padding: 0.2rem 0rem;
            .logo-icon{
                background: url("../images/zodiac/m-logo-icon.png") no-repeat;
                width: 4.71rem;
                height: 1.07rem;
                background-size: 100% 100%;
                margin: 0rem 0rem 0rem 0.3rem;
            }
            .carousel-block{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0.08rem auto 0rem auto;
                background: url("../images/zodiac/zodiac-carousel-bg.png") no-repeat;
                width: 7.28rem;
                height: 1.45rem;
                background-size: cover;
                .swiper-box{
                    margin-left: 0.04rem;
                    width: 88% !important;
                }
                .zodiac-item{
                    width: 1.2rem;
                    height: 0.91rem;
                }
                .zodiac-list{
                    white-space:nowrap;
                    transition: margin-left 0.3s;
                    >li{
                        display: inline-block;
                    }
                }
                .view-box{
                    width: 87%;
                    /* border: 1px solid red;*/
                    overflow: hidden;
                    border-bottom-right-radius: 36px;
                }
            }
            .desc-btn{
                position: absolute;
                top:0.4rem;
                right: 0rem;
                display: inline-block;
                background: url("../images/zodiac/m-desc-btn.png") no-repeat;
                width: 1.58rem;
                height: 0.64rem;
                background-size: 100% 100%;
                font-size: 0.3rem;
                color: #fff;
                text-shadow: #34a0e2 0.1em 0.15em 0.1em;
                text-align: center;
                line-height: 0.5rem;
                padding-left: 0.1rem;
            }
            .room-panel{
                margin-top: 0rem;
            }
            .level-block{
                float: none;
                background: none;
                width: auto;
                height: auto;
                .block-hd{
                    display: none;
                }
            }
            .room-list{
                margin-top: 0rem;
                text-align: center;
                >li{
                    display: inline-block;
                    width: 3.32rem;
                    height: 3.37rem;
                    cursor: pointer;
                    font-family: 'hytangmeiren';
                    margin: 0.08rem 0.16rem;
                    .title{
                        margin-top: 0.48rem;
                        font-size: 0.58rem;
                        color: #fff;
                    }
                    .limit{
                        margin-top: 0.24rem;
                        font-size: 0.24rem;
                        transform: scale(0.9);
                    }
                    .count{
                        font-size: 0.28rem;
                    }
                    &+li{
                        margin-left: inherit;
                    }
                }
                .level1{
                    background: url("../images/zodiac/m-level1-room-entrance.png") no-repeat;
                    background-size: 100% 100%;
                    color: #317ec0;
                }
                .level2{
                    background: url("../images/zodiac/level2-room-entrance.png") no-repeat;
                    color: #21908f;
                    background-size: 100% 100%;
                }
                .level3{
                    background: url("../images/zodiac/level3-room-entrance.png") no-repeat;
                    color: #359633;
                    background-size: 100% 100%;
                }
                .level4{
                    background: url("../images/zodiac/level4-room-entrance.png") no-repeat;
                    color: #a87920;
                    background-size: 100% 100%;
                }
            }
            .introduce-block{
                display: none;
            }
        }
    }
}
