@charset "utf-8";
/* 全局CSS定义 */
* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background: #fff;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
/** 设置默认字体 **/
body,
button,
input,
select,
textarea {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
  /*  font-family: '宋体';*/
  color: #666;
}
/** 清除内外边距 **/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
/* 将斜体扶正 */
/** 重置列表元素 **/
ul,
ol,
li {
  list-style: none;
}
/** 重置文本格式元素 **/
a {
  text-decoration: none;
  color: #666;
  cursor: pointer;
}
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  color: #666;
}
/*去掉IE的虚线框*/
a:active,
a:focus {
  border: none;
  outline: none;
}
/** 重置表单元素 **/
fieldset,
img {
  border: 0;
}
/* img 搭车：让链接里的 img 无边框 */
button,
input,
select,
textarea {
  font-size: 100%;
}
/* 使得表单元素在 ie 下能继承字体大小 */
/** 重置表格元素 **/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: inherit;
}
/*自定义样式*/
body {
  background: #f5f5f5;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.logo-icon {
  background: url("../images/common/logo-icon.png") no-repeat;
  width: 149px;
  height: 38px;
  background-size: 100% 100%;
}
.vip-icon {
  background: url("../images/common/vip-icon.png") no-repeat;
  width: 68px;
  height: 15px;
  background-size: 100% 100%;
}
.game-icon {
  background: url("../images/common/game-icon.png") no-repeat;
  width: 28px;
  height: 28px;
  background-size: 100% 100%;
}
.gift-icon {
  background: url("../images/common/gift-icon.png") no-repeat;
  width: 28px;
  height: 28px;
  background-size: 100% 100%;
}
.hourglass-icon {
  background: url("../images/common/hourglass-icon.png") no-repeat;
  width: 30px;
  height: 36px;
  background-size: 100% 100%;
}
.service-icon {
  background: url("../images/common/service-icon.png") no-repeat;
  width: 24px;
  height: 27px;
  background-size: 100% 100%;
}
.to-top-icon {
  background: url("../images/common/to-top-icon.png") no-repeat;
  width: 25px;
  height: 26px;
  background-size: 100% 100%;
}
.cm-btn {
  cursor: pointer;
}
.cm-disabled {
  opacity: 0.5;
  pointer-events: none;
}
#app {
  position: relative;
  height: auto;
  min-height: 100%;
  padding-top: 50px;
  padding-bottom: 70px;
}
.cm-container {
  width: 1024px;
  margin: 0px auto;
}
.cm-history-block {
  padding: 5px 0px;
}
.cm-history-block > li {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #5c2507;
}
.cm-history-block > li:after {
  content: '>>';
  padding: 0px 5px 0px 10px;
}
.cm-history-block > li.active {
  color: #850303;
}
.cm-history-block > li.active:after {
  display: none;
}
.el-dialog__title {
  color: #6e0d00 !important;
}
.el-button--primary {
  background: #6e0d00 !important;
  border: 1px solid #6e0d00 !important;
}
.el-button--primary:hover {
  background: rgba(110, 13, 0, 0.8) !important;
  border: 1px solid rgba(110, 13, 0, 0.8) !important;
}
.cm-no-content {
  font-size: 20px;
  padding: 20px 20px;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  #app {
    padding-top: 1rem;
  }
  .cm-container {
    width: auto;
  }
  .el-dialog {
    width: 80% !important;
  }
}
.home .banner-panel {
  width: 100%;
  height: 320px;
  /*    background: url("../images/home/banner-bg.jpg") no-repeat center;
        background-size: cover;*/
}
.home .banner-panel .el-carousel {
  height: 100%;
}
.home .banner-panel .el-carousel__arrow {
  display: inline-block !important;
  width: 50px;
  height: 50px;
}
.home .banner-panel .el-carousel__arrow > i {
  display: none;
}
.home .banner-panel .el-carousel__arrow.el-carousel__arrow--left {
  left: 30px;
  background: url("../images/common/last-icon.png") no-repeat;
  background-size: 100% 100%;
}
.home .banner-panel .el-carousel__arrow.el-carousel__arrow--right {
  right: 30px;
  background: url("../images/common/next-icon.png") no-repeat;
  background-size: 100% 100%;
}
.home .banner-panel .el-carousel__indicators {
  bottom: 18px;
}
.home .banner-panel .el-carousel__indicator {
  padding: 0px;
}
.home .banner-panel .el-carousel__indicator .el-carousel__button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
}
.home .banner-panel .el-carousel__indicator.is-active .el-carousel__button {
  background: #0facff;
}
.home .banner-panel .el-carousel__indicator + .el-carousel__indicator {
  margin-left: 13px;
}
.home .content-panel {
  margin-top: 20px;
}
.home .block {
  background: #fff;
  border-radius: 10px;
}
.home .block .block-hd {
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .block .block-hd .title {
  margin-left: 8px;
  font-size: 18px;
  color: #000;
  font-weight: bold;
}
.home .block .block-hd .sub-title {
  position: relative;
  top: 1px;
  font-size: 14px;
  color: #a100ff;
  font-weight: bold;
}
.home .horizontal-block {
  display: inline-block;
  width: 752px;
}
.home .horizontal-block .item-list {
  margin: 0px 10px 20px 10px;
}
.home .horizontal-block .item-list > li {
  display: inline-block;
  width: 220px;
  margin: 10px;
  cursor: pointer;
}
.home .horizontal-block .item-list > li .cover {
  background: #ffca28;
  height: 160px;
  border-radius: 10px;
  border-top-left-radius: 40px;
  overflow: hidden;
}
.home .horizontal-block .item-list > li .cover img {
  width: 100%;
  height: 100%;
}
.home .horizontal-block .item-list > li h3 {
  font-size: 14px;
  color: #010101;
  margin-top: 6px;
}
.home .horizontal-block .item-list .waiting-item {
  cursor: auto;
}
.home .horizontal-block .item-list .waiting-item .cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f5f5f5;
  text-align: center;
}
.home .horizontal-block .item-list .waiting-item .cover p {
  margin-top: 6px;
  font-size: 18px;
  color: #bcbcbc;
}
.home .vertical-block {
  float: right;
  display: inline-block;
  width: 252px;
}
.home .vertical-block .block-bd {
  padding: 10px 20px 20px 20px;
}
.home .vertical-block .draw-item {
  text-align: center;
}
.home .vertical-block .draw-item .draw-btn {
  display: inline-block;
  background: url("../images/home/draw-icon.png") no-repeat;
  width: 156px;
  height: 160px;
  background-size: 100% 100%;
}
.home .vertical-block .draw-item .score {
  margin-top: 10px;
  height: 22px;
  border-radius: 11px;
  background: #aa63ff;
  line-height: 22px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.home .more-tips {
  padding: 25px 0px;
  text-align: center;
  font-size: 12px;
  color: #999;
}
.home .tool-panel {
  position: fixed;
  right: 10px;
  bottom: 100px;
  background: #fff;
  border-radius: 3px;
}
.home .tool-panel .btn-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
}
.home .tool-panel .btn-list li + li {
  border-top: 1px solid #f5f5f5;
}
@media screen and (min-width: 1500px) {
  .home .banner-panel {
    height: 400px;
  }
}
@media screen and (min-width: 1600px) {
  .home .banner-panel {
    height: 450px;
  }
}
